.projectsSection
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr))
    gap: 20px
    padding: 0 400px
    justify-content: center
    text-align: center
    font-size: 50px
    &__subheader
        font-size: 3rem
        margin: 10rem 0
        text-align: center
        margin-top: 10px
        margin-bottom: 100px

    &__Item
        align-items: center
        text-decoration: none
        color: inherit
        backdrop-filter: blur(8px)
        background: rgba(0, 0, 0, 0.2)
        padding: 20px
        border-radius: 60px
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1)
        transition: transform 0.3s ease
        text-align: center
        font-size: 30px
        display: flex
        flex-direction: column
        img
            width: 100% 
            height: 100% 
    
    &__Item:hover
        transform: translateY(-20px)
        padding: 20px
        border-radius: 60px
        curson: pointer

    &__Item:nth-child(7n+1)
        grid-column: span 1
        grid-row: span 1

    &__Item:nth-child(7n+2)
        
        grid-column: span 1
        grid-row: span 1

    &__item:nth-child(7n+4)
        grid-column: span 1
        grid-row: span 1


    &__item:nth-child(7n+5)
        grid-column: span 2
        grid-row: span 1